

<form action="/signature/delete" method="POST">
    <input class="btn" type="submit" class="button-action" value="Delete signature" />
</form>


<a class="btn" href="/profile/edit">Edit profile</a>

<form action="/logout" method="GET">
    <input class="btn" type="submit" class="button-action" value="Logout" />
</form>