<div><h1>Sticker Petition</h1> </div>

<p class="infoPetition">Hey guys, so this is a petition for more stickers on the laptop.</p>


{{!-- <img src="{{directory}}/hero.webp" alt="sticker" width="400px" height="200px"> --}}