<div class="head">
    <h1>Sticker Petition</h1> 
    <p class="infoPetition">Hey guys, so this is a petition for more stickers on the laptop.</p>
</div>



<div class='bg'></div>
<div class='bg'></div>
<div class='bg'></div>
{{!-- <img src="{{directory}}/hero.webp" alt="sticker" width="400px" height="200px"> --}}