

<div>{{> infoPetition}}</div>

 <form action="/" method="POST">
            <input id="first" name="first" type="name" required placeholder="First Name" />
            <input id="last" name="last"  type="name" required placeholder="Last Name" />
            <!-- same for last name -->
            <p>{{errorMessage}}</p>
            <!-- placeholder for the signature, before implementing the actual canvas thing /use draw to method for the signature -->
            <input
                type="hidden"
                name="signature"
                value="data:image/png;base64,hello"
            />
            <canvas id="signature">Sign here</canvas>

            <input type="submit" value="Add Your Name" />
</form>
        <script src="canvas.js"></script>