

<div>{{> infoPetition}}</div>

          <div><p>{{errorMessage}}</p></div>  
 <form action="/" method="POST">
            <input id="first" name="first" type="name" placeholder="First Name" />
            <input id="last" name="last"  type="name" placeholder="Last Name" />
            <!-- same for last name -->
            {{!-- <!-- placeholder for the signature, before implementing the actual canvas thing /use draw to method for the signature --> --}}
            <input
                id="hiddenInput"
                type="hidden"
                name="signature"
                value="data:image/png;base64,hello"
            />
            <div><canvas id="signature" height="200px" width="400px">Sign here</canvas></div>
           

            <input type="submit" value="Add Your Name" />
</form>
        <script src="canvas.js"></script>