<div>
    {{> infoPetition}}
</div>

<div>
    <form action="" method="POST">
        <input id="email" name="email" type="email" placeholder="E-Mail"/>
        <input id="password" name="password"  type="password" placeholder="Password"/>
        <input type="submit" value="Login"/>
    </form>
</div>

<div>
    <p>
        In case you don't have an account <a href="/register">register</a> here.
    </p>
</div>

<script src="validation.js"></script>