<img src="kreativitat.png" alt="kreativitat" height="120px" width="120px">

<div>
    {{> infoPetition}}
</div>

<p id="error-box" style="color: red;"></p>

<div>
    <form action="" method="POST">
        <input required id="email" name="email" type="email" placeholder="E-Mail"/>
        <input required id="password" name="password"  type="password" placeholder="Password"/>
        <input class="btn" type="submit" value="Login"/>
    </form>
</div>

<div class="regOrLog">
    <p>
        In case you don't have an account <a href="/register">register</a> here.
    </p>
</div>

<script src="validation.js"></script>