<div>{{> infoPetition}}</div>

<p id="error-box" style="color: red;"></p>

<div>
    <form action="/register" method="POST">
        <input required id="first" name="first" type="text" placeholder="First Name"/>
        <input required id="last" name="last"  type="text" placeholder="Last Name"/>
        <input required id="email" name="email" type="email" placeholder="E-Mail"/>
        <input required id="password" name="password"  type="password" placeholder="Password"/>
        <input type="submit" value="Create your account"/>
    </form>
</div>

<div>
    <p>
        In case you already have an account <a href="/login">login</a> here.
    </p>
</div>

<script src="validation.js"></script>