<div>{{> infoPetition}}</div>

<p>Thank you so much for signing and taking this serious!
</p>

<p>Right <a href="/signature">here</a> you can see who else is supporting the matter.</p>

{{!-- anchor tag - get the number ob signees from the database --}}