<div>{{> infoPetition}}</div>

<p>Thank you so much for signing and taking this serious!
</p>

<p>You know what? <a href="/signature">{{signatureCount}}</a> other people sign with you. Go on and check it out 😉</p>

{{!-- anchor tag - get the number ob signees from the database --}}