<div>{{> infoPetition}}</div>

<p>Thank you so much for signing and taking this serious!
    {{signature}}
</p>

<p>You know what? <a href="/signature">{{signatureCount}}</a> other people signed with you. Go on and check it out 😉</p>

