* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
}

#signature {
    cursor: url(https://icons.iconarchive.com/icons/double-j-design/ravenna-3d/32/Pencil-icon.png)
            0 20,
        progress;
    background-color: bisque;
    width: 500px;
    height: 200px;
    border-radius: 15px;
    border: 3px rgb(0, 163, 163) solid;
}
